<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Matches</h1>

<button onclick="createMatch">Save match</button>

<div id="create-match-wrapper">
    <input id="create-match-startDate" type="text" placeholder="Start date">
    <select id="create-match-type" placeholder="Match Type">
        <option>ARAM</option>
        <option>Normal</option>
        <option>Ranked</option>
    </select>
    <select id="create-match-role">
        <option>Top</option>
        <option>Jungle</option>
        <option>Middle</option>
        <option>ADC</option>
        <option>Support</option>
    </select>
    <select id="create-match-win">Win/Loss
        <option>Win</option>
        <option>Loss</option>
    </select>
    <select id="create-match-champion">Champion
        <option>Zed</option>
        <option>Kayn</option>
    </select>

</div>
<script src="../global.js"></script>
<script src="../index/index.js"></script>
<script src="./createMatch.js"></script>
<script src="./matches.js"></script>
<script src="./editMatch.js"></script>

</body>
</html>