<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>
<h1>Matches</h1>
<a href="./createMatch.html">
    <button>Create Match</button>
</a>


<table>
    <thead>
    <tr>
        <th>Date of match</th>
        <th>Type of match</th>
        <th>Played role</th>
        <th>Result</th>
        <th>Honor</th>
        <th>Summoner</th>
        <th>Champion</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="matches-tbody"></tbody>
</table>

<script src="../global.js"></script>
<script src="./matches.js"></script>
<script src="../lib/HTMLescape.js"></script>
</body>
</html>