<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
</head>
<body>
<input id="search-for-summoner" type="text">
<button onclick="inputFetchSummoner()">Search</button>

<h3 id="summoner-fetch-generatedId"></h3>
<h3 id="summoner-fetch-name"></h3>
<p id="summoner-fetch-accountId"></p>
<p id="summoner-fetch-id"></p>
<p id="summoner-fetch-profileIconId"></p>
<p id="summoner-fetch-puuid"></p>
<p id="summoner-fetch-revisionDate"></p>
<p id="summoner-fetch-summonerLevel"></p>

<button onclick="saveSummonerToDB(summonerToSaveToDB)">Save</button>

<a id="button-matches">

</a>



<script src="../global.js"></script>
<script src="./index.js"></script>
</body>
</html>