<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summoners</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Account Id</th>
        <th>Id</th>
        <th>Name</th>
        <th>Profile Icon Id</th>
        <th>Puuid</th>
        <th>Revision date</th>
        <th>Summoner Level</th>
    </tr>
    </thead>
    <tbody id="summoners-tbody"></tbody>
</table>
<a href="../matches/matches.html">
    <button>Watch Matches</button>
</a>

<script src="../global.js"></script>
<script src="./index.js"></script>
<script src="../lib/HTMLescape.js"></script>
</body>
</html>